*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-gray: #969696;
  --clr-cyan: #19a2ae;
  --clr-dark-blue: #2d3248;
  --clr-grayish-blue: #6a6f81;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.container {
}
.profile-card {
}
.profile-card__header {
}
.profile-card__avatar {
}
.profile-card__name {
}
.profile-card__age {
}
.profile-card__location {
}
.profile-card__stats {
}
.profile-card__stats-item {
}
.profile-card__stats-value {
}
.profile-card__stats-label {
}